{% extends "layout.html" %}

{% block content %}
<h2>Edit Student</h2>

<form method="POST" class="form-box">

    <label>Name</label>
    <input type="text" name="name" value="{{ student.name }}" required>

    <label>Email</label>
    <input type="email" name="email" value="{{ student.email }}" required>

    <label>Phone</label>
    <input type="text" name="phone" value="{{ student.phone }}">

    <label>Address</label>
    <input type="text" name="address" value="{{ student.address }}">

    <label>Admission Year</label>
    <input type="number" name="admission_year" value="{{ student.admission_year }}" required>

    <label>Program</label>
    <select name="program_id">
        {% for p in programs %}
            <option value="{{ p[0] }}" {% if p[0] == student.program_id %}selected{% endif %}>{{ p[1] }}</option>
        {% endfor %}
    </select>

    <label>Specialization</label>
    <select name="specialization_id">
        <option value="">None</option>
        {% for s in specializations %}
            <option value="{{ s[0] }}" {% if s[0] == student.specialization_id %}selected{% endif %}>
                {{ s[1] }}
            </option>
        {% endfor %}
    </select>

    <button type="submit">Save Changes</button>
</form>

{% endblock %}
